@model Hospital.WEB.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Войти";
}

<h1>Вход</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row pl-3">
        <div class="center-blok">
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите email">
                <small id="emailHelp" class="form-text text-muted">Не давайте информацию о своих личных данных никому.</small>
            </div>
            <div class="form-group">
                <label asp-for="Password">Пароль</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Пароль">
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
        </div>
    </div>
}