@model Hospital.WEB.Models.ReceptionViewModel

@{
    ViewData["Title"] = "Записаться на прием";
}

<h1>Записаться на прием</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select class="custom-select" id="DoctorId" name="DoctorId">
                    <option selected>Выберите доктора</option>
                </select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDay" class="control-label"></label>
                <select class="custom-select" id="WorkDay" name="WorkDay">
                    <option selected>Выберите день посещения</option>
                </select>
                <span asp-validation-for="WorkDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <select class="custom-select" id="Time" name="Time">
                    <option selected>Выберите время посещения</option>
                </select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Описание проблемы</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Записаться на прием" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(window).on('load', function () {
        //$('#wrap_preloader').delay(500).fadeToggle(500);

        $.ajax({
            type: 'GET',
            url: '/reception/getdoctors',
            success: function (result) {
                console.log(result);
                $.each(result, function (key, val) {
                    $('#DoctorId').append(new Option(val.fio, val.id));
                });
            }
        });

        $("#DoctorId").change(function () {
            $("#WorkDay").empty();
            $("#Time").empty();
            $.ajax({
                type: 'GET',
                url: '/reception/getdoctor/workdays/' + this.value,
                success: function (result) {
                    console.log(result);
                    $.each(result, function (key, val) {
                        $('#WorkDay').append(new Option(val, val));
                    });
                }
            });
        });


        $("#WorkDay").change(function () {
            $("#Time").empty();
            $.ajax({
                type: 'GET',
                url: '/reception/getdoctor/worktimes/' + this.value,
                success: function (result) {
                    console.log(result);
                    $.each(result, function (key, val) {
                        $('#Time').append(new Option(val, val));
                    });
                }
            });
        });
    });
</script>
