<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Робочие графики</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="GetUsersByRole" asp-route-role="doctor">Достора</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="GetUsersByRole" asp-route-role="manager">Менеджеры</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Статистика</a>
</li>