<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contacts">Записи на прием</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Doctor" asp-action="AddWorkDays">Рабочий график</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Статистика</a>
</li>