<li class="nav-item">
    <a class="nav-link text-light" asp-controller="Reception" asp-action="GetAllReceptions">Записи на прием</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-controller="Home" asp-action="Contacts">Отзывы</a>
</li>