<li class="nav-item">
    <a class="nav-link text-light" asp-controller="Reception" asp-action="InsertReception">Создать запись на прием</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-controller="Reception" asp-action="GetActiveReceptionsByUser">Активные записи</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-controller="Home" asp-action="Index">История обращений</a>
</li>