<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Reception" asp-action="Create">Создать запись на прием</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contacts">Активные записи</a>
</li>
<li class="nav-item">
    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">История обращений</a>
</li>