<div class="collapse navbar-collapse">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Привет, @User.Identity.Name!
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Settings">Настройки</a>
                </li>
                <li class="dropdown-submenu">
                    <div class="dropdown-divider"></div>
                </li>
                <li class="dropdown-submenu">
                    <form class="form-inline" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link dropdown-item text-dark">Выйти</button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Войти</a>
            </li>
        </ul>
    }
</div>