
@{
    ViewData["Title"] = "Поиск";
}

<h1>Поиск</h1>

<form>
    <div class="row">
        <div class="card w-100 p-3">
            <div class="row">
                <div class="col-4 pl-4 pr-4">
                    <div class="row">
                        <div class="w-100 form-group">
                            <select class="form-control" asp-items="Html.GetEnumSelectList<Hospital.WEB.ViewModels.Sex>()">
                                <option selected="selected" disabled="disabled">Выберите пол</option>
                            </select>
                        </div>
                        <div class="col">
                            <p><input name="dzen" type="radio" value="pdzen">  ФИО</p>
                            <p><input name="dzen" type="radio" value="nedzen"> Телеофн</p>
                        </div>
                        <div class="col">
                            <p><input name="dzen" type="radio" value="nedzen"> Email</p>
                            <p><input name="dzen" type="radio" value="dzen"> Дата рождения</p>
                        </div>
                    </div>
                </div>
                <div class="col-8 pr-4 pl-4">
                    <div class="row">
                        <select class="form-control">
                            <option selected="selected" disabled="disabled">Специализация</option>
                            <option>Терапевт</option>
                            <option>Дерматолог</option>
                        </select>
                    </div>
                    <div class="row pt-2 pb-2">
                        <select class="form-control">
                            <option selected="selected" disabled="disabled">Опыт (год)</option>
                            <option>до 5-ти</option>
                            <option>от 5-ти до 10-ти</option>
                            <option>от 10-ти до 20-ти</option>
                            <option>от 20-ти до 30-ти</option>
                        </select>
                    </div>
                    <div class="row">
                        <select class="form-control">
                            <option selected="selected" disabled="disabled">Докторская степень</option>
                            <option>первая степень</option>
                            <option>вторая степень</option>
                            <option>третья степень</option>
                        </select>
                    </div>
                </div>
                <div class="w-100 mb-2"></div>
                <div class="col-8">
                    <div class="form-group">
                        <input class="form-control" />
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input type="submit" value="Показать все записи" class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>