
@{
    ViewData["Title"] = "Админ. панель";
}

<h1>Админ. панель</h1>

@Html.ActionLink("Создать достора", "CreateDoctor", "Admin")
<br />
@Html.ActionLink("Создать менеджера", "CreateManager", "Admin")
<br />
@Html.ActionLink("Доктора", "GetUsersByRole", "Admin", new { role = "doctor" }, null)
<br />
@Html.ActionLink("Менеджера", "GetUsersByRole", "Admin", new { role = "manager" }, null)
<br />